@font-face {
  font-family: 'VagFont';
  src: url('../../assets/fonts/VAGRON_1.TTF')  format('truetype'), /* Safari, Android, iOS */
}


#container {
    text-align: center;

    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  #container strong {
    font-size: 20px;
    line-height: 26px;
  }

  #container p {
    font-size: 16px;
    line-height: 22px;

    color: #8c8c8c;

    margin: 0;
  }

  #container a {
    text-decoration: none;
  }


  //


  .anotherMain{
    height: 100%;
    width: 100%;
    position: relative;
  }

  .main{
    height: 100%;
    width: 100%;
    position: relative;
    background-image: url(../../assets/landingpage/orangebg2.png);
    // background-image: url(assets/landingpage/landingpage000.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .mainCenter{
    position: relative;
    top: 5vh;
    text-align: center;
  }

  .title{
    width: 65vw;
  }

  .centerpiece{
    width: 80vw;
  }

  .playbtn{
    height: 12vh;
    margin-top: 2.5vh;
    margin-right: 30%;
    margin-left: 30%;
    position: relative;
    z-index: 2;
  }


  .tv{
    height: 7vh;
    position: absolute;
    bottom: 2.5vh;
    left: 2.5vh;
  }

  .padiplay{
    height: 8vh;
    position: absolute;
    bottom: 2.5vh;
    right: 5vw;
  }

  // .settingslink{
    // text-align: center;
  // }



  .settingsMain{
    width: 12vw;
    position: absolute;
    bottom: 2.5vh;
    right: 44vw;
    // margin-left: auto;
    // margin-right: auto;
    // text-align: center;
    // margin-top: 5%;
  }



  .settings1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.741);
    z-index: 3000;
    display: none;
  }

  .settingsBox{
    height: 75vh;
    width: 80vw;
    position: absolute;
    top: 0;
    left: 5vw;
    // background-color: red;

  }

  .settingsImage{
    position: absolute;
    display: block;
    margin: 0 auto;
    width: 63vw;
    height: 100%;
    top: 0;
    left: 13vw;
  }





  .contentBox{
    position: absolute;
    display: block;
    margin: 0 auto;
    z-index: 3500;
    height: 47vh;
    width: 90%;
    left: 8vw;
    // background-color: rgba(255, 166, 0, 0.9);
    top: 25vh;
  }

  .bottonsRow{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: blue;
    top: 10%;
    height: 20%;
    width: 100%;
  }

  .button{
    height: 100%;
    margin: 10px;
  }

  .woodBars{
    // background-color: green;
    width: 80%;
    left: 10%;
    position: relative;
    top: 12%;
  }

  .wBar{
    position: relative;
    width: 35vw;
    display: block;
    margin: 0 auto;
    margin-bottom: 2px;
  }


  .closeSettings{
    height: 10%;
    width: auto;
    position: absolute;
    top: -5%;
    right: 5vw;
  }







  .profilelink{
    height: 8vh;
    position: absolute;
    top: 2.5vh;
    left: 2.5vh;
    border-radius: 50%;
  }

  .album{
    height: 8vh;
    position: absolute;
    top: 2.5vh;
    left: 12vh;
  }

  .topright{
    position: absolute;
    top: 2.5vh;
    right: 2.5vh;
  }

  .cowryBox{
    position: absolute;
    top: 2.5vh;
    right: 2.5vh;
    // background-color: red;
    z-index: 2000;
    height: 7vh;
    width: 40vw;
  }

  .cowriebar{
    position: absolute;
    top: 0;
    right: 0;
    height: 7vh;
    width: auto;
  }

  .cowries{
    position: absolute;
    top: 12px;
    right: 40px;
    z-index: 1000;
    color: white;
    // background-color: #2910032f;
    border-radius: 5px;
    margin: 0;
  }


  .dailyawoof{
    height: 10vh;
    position: absolute;
    top: 14vh;
    left: 2.5vh;
  }


  .awoofpacks{
    height: 10vh;
    position: absolute;
    top: 14vh;
    right: 2.5vh;
  }


  .fbPane{
    position: absolute;
    z-index: 30000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fbBox{
    // background-color: pink;
    position: absolute;
    margin-top: -18vh;
    width: 80vw;
    height: 125vw;
  }

  .fbContent{
    // background-color: palegreen;
    position: absolute;
    bottom: 6%;
    left: 10%;
    width: 80%;
    height: 60%;
    z-index: 3010;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'VagFont', Fallback, sans-serif;
    color: #652f13;
    text-align: center;
    padding: 20px;
  }

  .coverpot{
    position: relative;
    height: 12vh;
    width: auto;
    display: block;
    margin: 0 auto;
  }

  .blankPane{
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
  }

  .closeFB{
    height: 10%;
    width: auto;
    position: absolute;
    top: -5%;
    right: -10%;
  }

  .fbBtn{
    width: 60%;
    display: block;
    margin: 0 auto;
  }

  .gglBtn{
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }


  .closer{
    color: white;
    border: 1px solid white;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    position: absolute;
    top: 5vh;
    left: 45vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .padiPane{
    position: absolute;
    z-index: 3500;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: none;
  }

  .padiBox{
    position: absolute;
    top: 0;
    left: 10%;
    width: 80vw;
    height: 150vw;
    // background-color: red;
  }

  .backImg{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 80vw;
    height: auto;
  }


  .padiContent{
    position: absolute;
    display: block;
    width: 90%;
    left: 5%;
    z-index: 3510;
    height: 65%;
    bottom: 5%;
    // background-color: rgba(172, 255, 47, 0.418);
    padding: 5%;
    text-align: center;
  }

  .padiHero{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
  }

  .prog{
    width: 85%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
  }

  .padiText{
    width: 85%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 5%;
    font-family: 'VagFont', Fallback, sans-serif;
    color: #652f13;
  }

  .padiPlay{
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 5%;
  }

  .padiClose{
    width: 10%;
    height: auto;
    position: absolute;
    top: -5%;
    right: -5%;
  }


  .padiPaneTwo{
    position: absolute;
    z-index: 3600;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: none;
    padding: 10%;
  }

  .padiClose2{
    width: 7%;
    height: auto;
    position: absolute;
    top: 2.5%;
    right: 2.5%;

  }


  .startPane{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4000;
    background-color: rgba(0, 0, 0, 0.816);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .startPadiplay{
    height: 70vh;
    width: auto;
    position: relative;
  }



  .start2{
    display: none;
  }



  .introText{
    color: white;
    text-align: center;
    font-family: 'VagFont', Fallback, sans-serif;
    font-size: 1.5rem;
    margin: 0.5rem;
  }

  .opponent{
    color: #ffcc00 !important;
  }


  .xterBox{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 15%;
  }

  .vsBox{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ebd5bb;
    font-family: 'VagFont', Fallback, sans-serif;
    font-weight: 900;
    font-size: 2rem;
  }

  .vsBox p{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
  }

  .xter{
    position: relative;
    width: 23vw;
    height: 23vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .avatar{
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
  }

  .xter p{
    margin: 0;
    color: white;
    font-size: 1.6rem;
    position: relative;
    z-index: 3610;
    font-family: 'VagFont', Fallback, sans-serif;
    font-weight: 900;
  }



  .statBox{
    position: relative;
    padding-top: 10%;
  }

  .statBar{
    // background-color: red;
    width: 80vw;
    height: 23vw;
    background-image: url(../../assets/landingpage/padi/statbar2.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .statLong{
    width: 35%;
    height: 70%;
    display: flex;
    align-items: center;
    color: white;
    font-family: 'VagFont', Fallback, sans-serif;
    font-weight: 900rem;
    font-size: 1.3rem;
  }

  .sl1{
    justify-content: flex-start;
  }

  .sl2{
    justify-content: flex-end;
  }

  .statCenter{
    width: 20%;
    height: 70%;
    // background-color: rgba(91, 236, 24, 0.418);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #669933;
    font-family: 'VagFont', Fallback, sans-serif;
    font-weight: 900rem;
    font-size: 0.8rem;
    text-align: center;
  }


  .play2{
    width: 60%;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .padihelp{
    text-align: center;
    color: white;
  }



  .sabinusCodePane{
    position: absolute;
    z-index: 3650;
    width: 80%;
    height: auto;
    padding: 10%;
    top: 20%;
    text-align: center;
    font-family: 'VagFont', Fallback, sans-serif;
    display: none;
  }

  .sabinusCodePane h3{
    color: white;
  }

  .sabinusCodePane input{
    background-color: #dfc39b;
    border: 2px solid #775c36;
    color: #443b2e;
    height: 5vh;
    outline: none;
    text-align: center;
  }

  .continue{
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
  }

  .errorToast{
    position: absolute;
    bottom: 5%;
    color: white;
    background-color: rgba(206, 6, 66, 0.9);
    font-family: 'VagFont', Fallback, sans-serif;
    font-weight: 900;
    font-size: 0.8rem;
    text-align: center;
    width: 90%;
    left: 5%;
    padding: 10px;
    border-radius: 20px;
    // display: none;
  }



  .notificationIcon{
    height: 6vh;
    width: 6vh;
    background-image: url(../../assets/landingpage/notification.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 15vh;
    right: 2.5vh;
  }

  .nBubble{
    background-color: rgb(190, 1, 80);
    height: 2.5vh;
    width: 2.5vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    position: absolute;
    top: -1.25vh;
    left: -1.25vh;
  }



  .notificationsPane{
    position: absolute;
    z-index: 4000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: none;
    padding: 5%;
    // display: flex;
    justify-content: center;
    align-items: center;
  }

  .notificationClose{
    width: 8%;
    height: auto;
    position: absolute;
    top: 5%;
    right: 5%;
  }


  .notificationList{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center; /* Add this*/
    position: relative;
    height: 80vh;
    width: 90%;
    overflow-y: scroll;
    // background-color: white;
    min-height: 5vh;
  }

  .notif{
    background-color: rgba(255, 255, 255, 0.43);
    border: 1px solid orange;
    width: 100%;
    height: 5vh;
    border-radius: 20px;
    margin-bottom: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    position: relative;
  }


  .padiplayResult{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.747);
    display: none;
    z-index: 7000;
  }

  .resultImage{
    height: 70vh;
    display: none;
  }


  .welcomeGiftPane{
    z-index: 10500;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.90);
    top: 0;
    left: 0;
    display: none;
  }

  .welcomePack{
    position: absolute;
    top: 0;
    left: 10vw;
    width: 80vw;
  }



  .tumbumPane{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.90);
    top: 0;
    left: 0;
    z-index: 10000;
    display: none;
  }

  .tumbumContent{
    position: relative;
    top: 0;
    left: 10vw;
    width: 80vw;
    min-height: 100vh;
    // background-color: red;
  }

  .tumbumWood{
    position: relative;
    top: 0;
    left: 5vw;
    width: 70vw;
    height: auto;
  }

  .gridBox{
    width: 70vw;
    position: relative;
    margin-top: 10vh;
    min-height: 60vw;
    // background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transform: rotate(45deg);
    left: 5vw;
  }

  .gb{
    width: calc(53vw/3);
    height: calc(53vw/3);
    border: 1px solid white;
    border-radius: 10px;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
  }

  .gbFill{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.84);
    z-index: 10005;
    opacity: 0;
  }

  // .gbf6{
  //   // opacity: 1;
  // }

  .gbBase{
    position: relative;
    width: 80%;
    height: auto;
    transform: rotate(-45deg);
  }

  .gbTotem {
    width: 60% !important;
  }


  .gbn{
    position: absolute;
    z-index: 10001;
    transform: rotate(-45deg);
    color: white;
    font-size: 900;
    font-size: 0.7rem;
    top: 35%;
    left: 55%;
  }


  .tumbumClose{
    position: absolute;
    z-index: 10010;
    width: 8vw;
    height: 8vw;
    right: 8vw;
    top: 25vw;
  }


  .stop{
    width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: 6vh;
  }

  .awoofResult{
    display: none;
    font-family: 'VagFont', Fallback, sans-serif;
    color: white;
    text-align: center;
    // display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40vh;
    position: relative;
    display: none;
  }



  .smile{
    position: relative;
    height: 20vh;
    width: auto;
    opacity: 0;
  }



  .loader{
    position: absolute;
    z-index: 31000;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(../../assets/landingpage/loader/bgorange.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .loaderImg{
    height: 20vh;
    position: relative;
    display: block;
    margin: 0 auto;
  }




  .profilePane{
    position: absolute;
    display: none;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 5000;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
  }

  .profilePane .wood{
    width: 70%;
    display: block;
    margin: 0 auto;
    margin-bottom: 0px;
    //:val   margin-top: 260px;
    margin-top: 280px;
  }

  .profileBack{
    width: 10vw;
    height: auto;
    right: -10%;
    top: -10%;
    position: absolute;
  }


  .profileBox{
    position: absolute;
    top: 0;
    width: 90vw;
    left: 5vw;
    height: 140vw;
    // background-color: yellowgreen;
  }

  .profileBase{
    position: absolute;
    bottom: 8vh;
    left: 0;
    width: 100%;
  }

  .profileContent{
    z-index: 5010;
    position: absolute;
    // background-color: red;
    bottom: 13vh;
    left: 10vw;
    width: 70vw;
    height: 80vw;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .profileCowries{
    // color: rgb(129, 80, 6);
    text-align: center;
    display: block;
    margin: 0 auto;
    background-color: #6b2f0d;
    color: white;
    border: 1px solid white;
    border-radius: 50px;
    padding: 6px;
    margin-bottom: 5px;
  }




  .toast{
    position: absolute;
    left: 2vw;
    z-index: 20000;
    bottom: 40vh;
    width: 96vw;
    height: auto;
    display: flex;
    justify-content: center;
    display: none;
    border-style:solid;
    border-color:whitesmoke;
    border-radius: 15px;
    border-width: 5px;
  }

  .toast p{
    margin: 0;
    position: relative;
    text-align: center;
    color: white;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.842);
    padding: 10px;
    font-size: 0.9rem;
    border-radius: 8px;
  }



  .videoPane{
    z-index: 50000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0);
    // display: flex;
    justify-content: center;
    align-items: center;
    display: none;
  }


  .videoPane > video {
    width: 80vw;
    height: auto;
    position: relative;
  }


  .videoClose{
    width: 8vw;
    height: 8vw;
    position: absolute;
    z-index: 50001;
    top: 5vw;
    right: 5vw;
  }


  .videoTime{
    width: 8vw;
    height: 8vw;
    position: absolute;
    z-index: 50002;
    bottom: 5vw;
    left: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.8rem;
    border: 1px solid white
  }


  .skip{
    width: auto;
    height: 9vw;
    position: absolute;
    z-index: 50005;
    bottom: 5vw;
    left: 5vw;
    display: none;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 5px 10px;
    font-size: 0.8rem;
    border: 1px solid white
  }



  .howToPane{
    position: absolute;
    z-index: 11000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .howToPaneBox{
    position: absolute;
    top: 0;
    left: 10vw;
    width: 80vw;
    height: 125vw;
  }

  .helper{
    position: absolute;
    width: 25%;
    bottom: 56%;
    left: -2%;
    transform: rotate(20deg);
    animation-name: helperSway;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }

  @keyframes helperSway {
    0%   {transform: rotate(20deg);}
    50%  {transform: rotate(-20deg);}
    100% {transform: rotate(20deg);}
  }

  .howToContentBox{
    z-index: 8002;
    position: absolute;
    bottom: 5vw;
    left: 10%;
    width: 80%;
    height: 60%;
    padding: 10px;
  }

  .howToImage{
    position: relative;
    height: 65%;
    width: auto;
    display: block;
    margin: 0 auto;
  }

  .howToText{
    text-align: center;
    margin: 0;
    font-size: 0.8rem;
    color: #673d13;
    font-family: 'VagFont', Fallback, sans-serif;
  }

  .howToProg{
    height: 12%;
    width: auto;
    position: absolute;
    z-index: 8004;
    bottom: -5%;
  }

  .htp1{
    left: -5%;
  }


  .htp2{
    right: -5%;
  }


  .howToClose{
    right: -7%;
    top: -6%;
    height: 10%;
    width: auto;
    position: absolute;
    z-index: 8005;
  }



  .countBubble{
    min-width: 20px;
    min-height: 20px;
    border-radius: 50%;
    background-color: #cddc39;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: #616914;
    z-index: 110;
    font-weight: bold;
    font-size: 0.5rem;
  }

  .tokenBubble{
    right: 40px;
    bottom: 9vh;
  }


  .deadline{
    background-color: #00bcd4;
    color: white;
    font-size: 0.4rem;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
    position: absolute;
    bottom: -10px;
    width: 120%;
  }


  .deadlineInside{
    background-color: #00bcd4;
    color: white;
    font-size: 0.4rem;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
    position: absolute;
    left: 10px;
    top: -10px;
  }
