
    .timeBox{
      font-family: 'DigitalFont', Fallback, sans-serif;
      position: absolute;
      top: 3vh;
      right: 2.5vh;
      background-color: #331503;
      z-index: 2000;
      height: 5vh;
      width: 20vw;
      text-align: right !important;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      border-radius: 20px;
      border: 2px solid orange;
    }

    .timeBox h6{
      margin: 0 !important;
      color: greenyellow;
    }





  .fbPane{
    position: absolute;
    z-index: 5000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.89);
    display: flex;
    justify-content: center;
    align-items: center;
  }



  .fbBtn{
    width: 60%;
    display: block;
    margin: 0 auto;
  }

  .gglBtn{
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }



  .closer{
    color: white;
    border: 1px solid white;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    position: absolute;
    top: 5vh;
    left: 45vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }



  .startPane{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4000;
    background-color: rgba(0, 0, 0, 0.816);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .startPadiplay{
    height: 70vh;
    width: auto;
    position: relative;
  }



  .start2{
    display: none;
  }



  .helpPane{
    position: absolute;
    z-index: 4010;
    background-color: rgba(0, 0, 0, 0.816);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    display: none;
    top: 0;
    left: 0;
  }

  .edonhard{
    height: 70vh;
    width: auto;
    position: relative;
  }

  .timeUpPane{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3990;
    background-color: rgba(0, 0, 0, 0.916);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    display: none;
    padding: 10px;
    color: white;
    text-align: center;
  }

  .timeup{
    width: 70vw;
    height: auto;
    position: relative;
  }

  .closeTime{
    position: absolute;
    top: 5vh;
    width: 10vw;
    height: 10vw;
    left: 45vw;
  }

  .errorPane{
    position: absolute;
    z-index: 6000;
    background-color: rgba(0, 0, 0, 0.916);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    display: none;
    padding: 10px;
    color: white;
    text-align: center;
  }

  .error{
    height: 70vh;
    width: auto;
    position: relative;
  }




  .padiplayResult{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.747);
    display: none;
    z-index: 10000;
  }

  .resultImage{
    height: 70vh;
    display: none;
  }

  .notificationClose{
    width: 8%;
    height: auto;
    position: absolute;
    top: 5%;
    right: 5%;
  }



// generic stuff



// @font-face {
//   font-family: 'VagFont';
//   src: url('webfont.eot'); /* IE9 Compat Modes */
//   src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//        url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
//        url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
//        url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
//        url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
// }

@font-face {
  font-family: 'VagFont';
  src: url('../../assets/fonts/VAGRON_1.TTF')  format('truetype'), /* Safari, Android, iOS */
}

.arena{
    position: relative;
    height: 100%;
    width: 100%;
    position: relative;
    padding: 4vw;
    // background-image: url(../../assets/game/new/Bkg1.png);
    background-image: url(../../assets/game/new/wood.png);
    background-size: cover;
    background-position: center;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    overflow: hidden;
  }

  .inner{
    border: 1px solid rgba(255, 255, 255, 0.377);
    border-radius: 30px;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
  }

  .smalllogo{
    height: 8vh;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vh;
  }

  .topLink{
    position: absolute;
    top: 3vh;
    z-index: 100;
  }

  .cowryBox{
    position: absolute;
    top: 3vh;
    right: 2.5vh;
    // background-color: red;
    z-index: 2000;
    height: 6vh;
    width: 40vw;
  }

  .cowriebar{
    position: absolute;
    top: 0;
    right: 4vw;
    height: 6vh;
    width: auto;
  }

  .cowries{
    font-size: 13px;
    position: absolute;
    top: 10px;
    right: 55px;
    z-index: 1000;
    color: white;
    // background-color: #2910032f;
    border-radius: 5px;
    margin: 0;
  }




  .midLink{
    position: absolute;
    top: 48vh;
    z-index: 100;
  }

  .semiBottomLink{
    position: absolute;
    bottom: 17vh;
    z-index: 100;
  }

  .bottomLink{
    position: absolute;
    bottom: 2vh;
    z-index: 100;
  }

  .leftLink{
    left: 4vw;
  }


  .rightLink{
    right: 4vw;
  }


  .menuBtn{
    height: 7vh;
  }

  .pointBar{
    height: 5.5vh;
  }

  .jara{
    height: 7vh;
  }

  .juju{
    height: 8vh;
    position: relative;
    top: -1vh;
  }

  .girrafe{
    height: 8vh;
  }


  .tv{
    height: 8vh;
  }

  .shuffle{
    height: 8vh;
  }

  .begibegi{
    height: 8vh;
  }


  .table{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    // background-color: red;
    background-image: url(../../assets/game/new/table.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 40;

  }

  .pot{
    height: 110%;
    width: 110%;
    left: 2%;
    display: block;
    margin: 0 auto;
    position: relative;
    background-image: url(../../assets/game/new/pot.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }


  .potLetters{
    // position: absolute;
    position: relative;
    // margin: 0 auto;
    width: 60%;
    left: 13%;
    top: 10%;
    height: 60%;
    border-radius: 50%;
    // background-color: rgba(255, 166, 0, 0.541);
    text-align: center;
    vertical-align: middle;
    padding-top: 3vh;
    // background-color: red;
    display: flex;
    // justify-content: center;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    align-content: center; /* Add this*/
  }

  .ladle{
    height: 60%;
    position: absolute;
    top: 70%;
    right: 10%;
    // transform-origin: 0% 100%;
    transform-origin: top right;
    transform: rotate(-30deg);
    animation-name: ladlesway;
    animation-iteration-count: infinite;
    animation-duration: 3s;

  }


@keyframes ladlesway {
  0% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(-30deg);
  }
}

  .pl{
    // display: inline-block;
    // color: white;
    color: #ffd7a6;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #6b4612;
    text-align: center;
    // vertical-align: middle;
    margin: 5px;
    text-align: center;
    position: relative;
    z-index: 500;
    font-size: 1.8rem !important;
    font-weight: 900;
    font-family: 'VagFont', Fallback, sans-serif;
    animation-name: swirl;
    animation-iteration-count: infinite;
    // animation-duration: 3s;
  }

  @keyframes swirl {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }


  .bubbleSequence{
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: auto;
  }


  .bubble{
    position: absolute;
  }

  .bubble1{
    top: 20%;
    left: 15%;
    height: 15%;
    width: auto;
  }


  .bubble2{
    top: 25%;
    left: 55%;
    height: 15%;
    width: auto;
  }

  .bubble3{
    top: 40%;
    left: 75%;
    height: 17%;
    width: auto;
  }

  .bubble4{
    top: 60%;
    left: 45%;
    height: 20%;
    width: auto;
  }

  .bubble5{
    top: 60%;
    left: 15%;
    height: 15%;
    width: auto;
  }




  .ayoTray{
    position: relative;
    z-index: 30;
    width: 90%;
    height: 60%;
    // background-color: orange;
    background-image: url(../../assets/game/new/orange-flip.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
    left: 5%;
    // top: 15vh;
    padding: 10px;
    padding-top: 5vh !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start; /* Add this*/
    // background-color: royalblue;
  }

  .wordRack{
    position: relative;
    // background-color: red;
    width: auto;
    margin-left:auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100%
  }

  .hole{
    color: white;
    width: 8vw;
    height: 8vw;
    margin-bottom: 10px;
    // background-image: url(../../assets/game/new/AyosideB.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    position: relative;
  }


  .leftFlip{
    width: auto;
    height: 8vw;
    position: absolute;
    left: -3.5vw;
    top: 0;
  }

  .rightFlip{
    width: auto;
    height: 8vw;
    position: absolute;
    right: -3.5vw;
    top: 0;
  }



  .selectedTray{
    position: absolute;
    top: 50vh;
    left: 15%;
    z-index: 300;
    width: 70%;
    display: flex;
    justify-content: center;
  }

  .tray{
    position: relative;
    // right: 5vw;
    background-color: rgba(0, 0, 0, 0.742);
    color: white;
    text-align: center;
    padding: 6px 15px;
    width: auto;
    height: 10vw;
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    border-radius: 0px 0px 0px 0px;
  }

  .submit{
    width: 10vw;
    height: 10vw;
    background-color: yellowgreen;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 20px 20px 0px;
    position: absolute;
    right: -10vw;
    font-size: 0.9rem;
  }

  .cancelsubmit{
    width: 10vw;
    height: 10vw;
    background-color: rgb(221, 8, 79);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 0px 0px 20px;
    position: absolute;
    left: -10vw;
    font-size: 0.9rem;
  }


  .sticker{
    position: absolute;
    z-index: 11000;
    // width: 80vw;
    // left: 10vw;
    width: 0vw;
    left: 50vw;
    bottom: 20vh;
  }


  .levelsticker{
    display: none;
    position: absolute;
    z-index: 12000;
    // width: 80vw;
    // left: 10vw;
    width: 100vw;
    height: 100vh;
    left: 0vw;
    top: 0vh;
    background-color: rgba(0, 0, 0, 0.644);
  }

  .levelstickerBase{
    position: absolute;
    z-index: 12001;
    top: 0;
    left: 10%;
    width: 80%;
  }

  .levelstickerPoints{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 47%;
    z-index: 12002;
    color: #5a2d01;
    font-weight: 800;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ffe019;
  }

  .levelstickerClose{
      height: 5vh;
      width: 5vh;
      position: absolute;
      top: 23%;
      right: 10%;
      z-index: 12003;
  }

  .levelstickerButton{
    position: absolute;
    z-index: 12004;
    top: 65%;
    height: 8%;
    width: auto;
  }

  .next{
    left: 27%;
  }

  .watch{
    right: 27%;
  }

  .potfont{
    height: 5vh;
    width: auto;
  }

  .ayofont{
    height: 3vh;
    width: auto;
  }

/* :val ?? fixing the fade in transition */
  .fadeIn{
    opacity: 0;
  }

  .fadeShow{
    opacity: 1;
  }


  .settings{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.741);
    z-index: 3000;
    display: none;
  }

  .settingsBox{
    height: 75vh;
    width: 80vw;
    position: absolute;
    top: 0;
    left: 10vw;
    // background-color: red;

  }

  .settingsImage{
    position: absolute;
    display: block;
    margin: 0 auto;
    width: auto;
    height: 100%;
    top: 0;
    left: 0;
  }

  .contentBox{
    position: absolute;
    display: block;
    margin: 0 auto;
    z-index: 3500;
    height: 47vh;
    width: 90%;
    left: 5%;
    // background-color: rgba(255, 166, 0, 0.9);
    top: 25vh;
  }

  .bottonsRow{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: blue;
    top: 10%;
    height: 20%;
    width: 100%;
  }

  .button{
    height: 100%;
    margin: 10px;
  }

  .woodBars{
    // background-color: green;
    width: 80%;
    left: 10%;
    position: relative;
    top: 20%;
  }

  .wBar{
    position: relative;
    width: 70%;
    display: block;
    margin: 0 auto;
    margin-bottom: 2px;
  }


  .closeSettings{
    height: 10%;
    width: auto;
    position: absolute;
    top: -5%;
    right: 0%;
  }



  .dictionary{
    position: absolute;
    z-index: 5000;
    width: 100vw;
    height: 100vh;
    display: none;
    background-color: rgba(0, 0, 0, 0.727);
  }

  .dictionaryCase{
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    // background-color: red;
  }

  .pane{
    position: absolute;
    top: 0;
    width: 100%;
  }

  .paneText{
    // background-color: yellow;
    position: absolute;
    width: 70%;
    min-height: 60px;
    top: 30%;
    left: 15%;
    z-index: 5020;
    padding: 30px;
  }

  .close{
    height: 5vh;
    position: absolute;
    top: 25%;
    right: 10%;
  }



  .jaraPane{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.719);
    z-index: 6030;
    display: none;
  }

  .jaraBox{
    position: absolute;
    top: 0;
    left: 10%;
    width: 80%;
    height: 132vw;
  }

  .jarabase{
    width: 100%;
    position: absolute;
    top: 0;
  }


  .jaraClose{
    height: 4vh;
    position: absolute;
    top: 30%;
    right: 2%;
    z-index: 6035;
  }

  .jaraElems{
    width: 70%;
    // background-color: red;
    position: absolute;
    z-index: 100;
    bottom: 5vh;
    left: 15%;
    padding: 5px;
  }


  .jaraBar{
    width: 100%;
    height: 15px;
    border-radius: 30px;
    overflow: hidden;
    background-color: #652f13;
    position: relative;
    border: 2px solid #ae6b2a;
  }

  .progressCowries{
    height: 30px;
    width: auto;
    position: absolute;
    z-index: 300;
    bottom: 10vh;
    right: 15%;
  }

  .jaraProg{
    position: relative;
    // background-color: #99ff00;
    background-image: url(../../assets/game/jara/slants.png);
    background-repeat: repeat-x;
    background-size: cover;
    height: 15px;
    display: inline-block;
    // width: 15px;
  }

  .takeam{
    position: relative;
    display: block;
    margin: 0 auto;
    height: 4vh;
    width: auto;
  }




  .begibegiPane{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 6030;
    display: none;
  }


  .begibegiClose{
    width: 8vw;
    height: 8vw;
    position: absolute;
    z-index: 6031;
    top: 25vw;
    right: 46vw;
  }


  .toast{
    position: absolute;
    left: 2vw;
    z-index: 20000;
    bottom: 40vh;
    width: 96vw;
    height: auto;
    display: flex;
    justify-content: center;
    display: none;
    border-style:solid;
    border-color:whitesmoke;
    border-radius: 15px;
    border-width: 5px;
  }

  .toast p{
    margin: 0;
    position: relative;
    text-align: center;
    color: white;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.842);
    padding: 10px;
    font-size: 0.9rem;
    border-radius: 8px;
  }



  .nextPane{
    z-index: 5000;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.719);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
  }


  .nextBox{
    // background-color: purple;
    width: 70vw;
    height: 93.5vw;
    position: relative;
    background-image: url(../../assets/game/wehdone/Background2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fist{
    position: relative;
    width: 70%;
    height: auto;
  }

  .nextBubble{
    width: 15vw;
    height: auto;
    position: absolute;
    bottom: 8vw;
    left: 10vw;
  }


  .watchBubble{
    width: 15vw;
    height: auto;
    position: absolute;
    bottom: 8vw;
    right: 10vw;
  }


  .nextSchool{
    width: 10vw;
    height: auto;
    position: absolute;
    top: 8vw;
    left: 5vw;
  }




  .countBubble{
    min-width: 7vw;
    min-height: 7vw;
    border-radius: 50%;
    background-color: #cddc39;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: #616914;
    z-index: 110;
    font-weight: bold;
    font-size: 0.5rem;
  }

  .jujuBubble{
    left: 10vw;
    bottom: 24vh;
  }

  .giraffesBubble{
    right: 10vw;
    bottom: 24vh;
  }

  .begibegiBubble{
    right: 10vw;
    bottom: 9vh;
  }
