<div class="arena">
  <a (click)="back()" class="backParent">
    <img src="../../assets/awoof/back.png" alt="" class="back">
  </a>
  <div class="woodBars">
    <img (click)="social('https://web.facebook.com/ayam.sabinus')" src="../../assets/socials/facebook.png" alt="" class="wBar">
    <img (click)="social('https://twitter.com')" src="../../assets/socials/twitter.png" alt="" class="wBar">
    <img (click)="social('https://instagram.com')" src="../../assets/socials/instagram.png" alt="" class="wBar">
  </div>

  <div class="toast">
    <p>{{toastMessage}}</p>
  </div>
</div>
