<div class="arena">

  <img [src]="sticker" alt="" class="sticker">

  <div class="levelsticker">
    <img src="../../assets/levelstickers/Close.png" alt="" class="levelstickerClose" (click)='nextRank()'>
    <!-- <h3 class="levelstickerPoints">3000</h3> -->
    <img class="levelstickerBase" src="../../assets/levelstickers/{{rank}}.png" alt="">
    <img src="../../assets/levelstickers/Next.png" alt="" class="levelstickerButton next" (click)='nextRank()'>
    <img src="../../assets/levelstickers/Watch.png" alt="" class="levelstickerButton watch">
  </div>
  <div class="sentencesticker">
    <img src="../../assets/levelstickers/Close.png" alt="" class="levelstickerClose" (click)='levelSticker()'>
    <!-- <h3 class="levelstickerPoints">3000</h3> -->
    <img class="levelstickerBase" src="../../assets/levelstickers/sentence.png" alt="" (click)='levelSticker()'>
  </div>
  <!-- <img [src]="levelsticker" alt="" class="levelsticker"> -->
  <a (click)='toggleSettings()' class="topLink leftLink fadeIn fadeOne">
    <img src="../../assets/game/new/Menu button.png" class="menuBtn" alt="">
  </a>

  <div class="scoreBox" (click)="awoof()">
    <div class="scoreHolder">
      <h6 class="score">{{cowries}}</h6>
    </div>
  </div>

  <a class="midLink leftLink fadeIn fadeOne" (click)='activateJara()'>
    <img src="../../assets/game/new/Jara button.png" class="jara animate__animated animate__infinite" alt="">
  </a>

  <!-- <a class="midLink rightLink fadeIn fadeOne" (click)='dictionary()'>
    <img src="../../assets/game/new/school.png" class="tv" alt="">
  </a> -->

  <a (click)="juju()" class="semiBottomLink leftLink fadeIn fadeOne">
    <img src="../../assets/game/new/Juju button.png" class="juju" alt="">
  </a>

  <a (click)="giraffe()" class="semiBottomLink rightLink fadeIn fadeOne">
    <img src="../../assets/game/new/Giraffing button.png" class="girrafe" alt="">
  </a>

  <a (click)="compactShuffleDirect()" class="bottomLink leftLink fadeIn fadeOne">
    <img src="../../assets/game/new/Shuffle button.png" class="shuffle" alt="">
  </a>


  <a class="bottomLink rightLink fadeIn fadeOne" (click)="begibegi()">
    <img src="../../assets/game/new/Begibegibutton.png" class="begibegi" alt="">
  </a>

  <div class="countBubbles">
    <div class="countBubble giraffesBubble">{{girraffesCount}}</div>
    <div class="countBubble jujuBubble">{{jujuCount}}</div>
    <div class="countBubble begibegiBubble">{{begibegiCount}}</div>
  </div>

  <div class="inner">

    <img src="../../assets/game/new/smalllogo.png" class="smalllogo" alt="">

    <div class="ayoTray fadeIn fadeTwo">

      <!-- <img src="../../assets/game/new/particle-glitter2-white.gif" class="sparkle" alt=""> -->
      <img src="../../assets/game/new/swirl-poof.gif" class="sparkle" alt="">

      <img src="../../assets/game/new/particle-glitter-juju.gif" class="sparkle2" alt="">

      <div class="wordRack animate__repeat-1" *ngFor="let w of multiArray; let i = index"
        [ngClass]="(rowToBounce==i) ? 'animate__animated' : 'nada'">

        <div class="hole animate__repeat-1"
          [ngStyle]="{'background-image': i==0 && w.length > 1 ? 'url(../../assets/game/new/left.png)' : i == w.length-1 && w.length > 1 ? 'url(../../assets/game/new/right.png)' : 'url(../../assets/game/new/middle.png)' }"
          *ngFor="let l of w; let i = index">
          <!-- <img src="../../assets/game/new/left-flip.png" *ngIf="i==0" alt="" class="leftFlip"> -->
          <!-- <img src="../../assets/game/new/right-flip.png" *ngIf="i==w.length-1" alt="" class="rightFlip"> -->
          <span [ngStyle]="{'opacity': l.visible ? 1 : l.hint ? 0.4 : 0 }">{{l.letter}}</span>
        </div>

      </div>

    </div>

    <div class="selectedTray animate__repeat-1 animate__animated">
      <div class="tray" *ngIf="selectedLetters.length > 0">
        <div (click)="cancelSubmitTray()" class="cancelsubmit"><i class="fas fa-times"></i></div>
        <div class="submit" (click)="submitTray()"><i class="fas fa-check"></i></div>
        <span *ngFor="let x of selectedLetters; let i = index">{{x.letter}}</span>
      </div>
    </div>

    <div class="table">
      <div class="pot">
        <div class="potLetters fadeIn fadeTwo">
<!--          <p>Hello</p>-->
          <img src="../../assets/game/bubble1.gif" class="bubbleSequence" id="bubble" alt="">
            <div class="pl" *ngFor="let w of compactShuffled; let i = index"   [ngStyle]="{'opacity': w.selected ? 0.2 : 1 , 'animation-duration': [spin(i)]+'s'}" [style.transform]="getDegree(i)" (click)="selectLetter(w.idCode,w,i)"><b>
              <span *ngIf='isBubble && isBubble>0'>{{w.letter}}</span></b></div>
          
<!-- :val removed  duplicate fade in           [ngStyle]="{'opacity': w.selected ? 0.2 : 1 , 'animation-duration': [spin(i)]+'s'}"&ndash;&gt;-->

          <img src="../../assets/game/new/ladle.png"
            class="ladle animate__swingnope animate__animated animate__infinite animate__slower" alt="">
        </div>
      </div>
    </div>

  </div>
  <!-- end of inner -->

</div>

<!-- end of arena -->

<div class="nextPane">
  <div class="nextBox">
    <img src="../../assets/game/wehdone/school.png" class="nextSchool" (click)='dictionary()' alt="">

    <span class="totalScore"> {{cowries}} </span>

    <img src="../../assets/game/wehdone/green.png" class="fist animate__heartBeat animate__animated animate__infinite"
      alt="">

    <img src="../../assets/game/wehdone/Next.png" class="nextBubble" (click)="roundStatus()" alt="">
    <img src="../../assets/game/wehdone/Watch.png" class="watchBubble" (click)="triggerVideo()" alt="">

  </div>
</div>


<div class="cowrieCase">
  <img src="../../assets/game/cowrie.png" class="floatingCowrie fc1" alt="">
  <img src="../../assets/game/cowrie.png" class="floatingCowrie fc2" alt="">
  <img src="../../assets/game/cowrie.png" class="floatingCowrie fc3" alt="">
</div>

<div class="settings">
  <div class="settingsBox">

    <img src="../../assets/settings/popup.png" alt="" class="settingsImage">

    <div class="contentBox">

      <img (click)='toggleSettings()' src="../../assets/settings/close.png" alt="" class="closeSettings">

      <div class="bottonsRow">
        <img (click)="toggleSound()" src="../../assets/settings/{{soundStat?'sound':'sound2'}}.png" class="button sound"
          alt="">

        <img (click)="toggleSfx()" src="../../assets/settings/{{sfxStat?'sfx':'sfx2'}}.png" class="button sfx" alt="">
      </div>

      <div class="woodBars">
        <img style="right: 2.5%;" (click)='landing()' src="../../assets/settings/mainmenu.png" alt="" class="wBar">
        <img style="left: 2.5%;" [routerLink]="['/level']" src="../../assets/settings/levels.png" alt="" class="wBar">
        <img style="right: 2.5%;" [routerLink]="['/helep']" src="../../assets/settings/helep.png" alt="" class="wBar">
        <img style="left: 2.5%;" (click)='rate()' src="../../assets/settings/rateus.png" alt="" class="wBar">
        <img style="right: 2.5%;" [routerLink]="['/konnect']" src="../../assets/settings/konect.png" alt="" class="wBar">
        <img style="left: 2.5%;" (click)="contact()" src="../../assets/settings/contactus.png" alt="" class="wBar">
        <img style="right: 2.5%;" [routerLink]="['/credits']" src="../../assets/settings/speshiatainks.png" alt=""
          class="wBar">
      </div>

    </div>

  </div>
</div>

<!-- //dictionary -->

<div class="dictionary">

  <div class="dictionaryCase">
    <img src="../../assets/game/new/close.png" alt="" class="close" (click)='closeDictionary()'>
    <img src="../../assets/game/new/pane.png" alt="">
    <div class="paneText"  style="font-family: 'VagFont', Fallback, sans-serif !important; color:black">
      <h2>{{currentWord.word}}</h2>

      <p>{{currentWord.meaning | uppercase }}</p>
    </div>
  </div>

</div>

<!-- JARA Pane -->

<div class="jaraPane">
  <div class="jaraBox">
    <img src="../../assets/game/new/close.png" alt="" (click)="closeJara()" class="jaraClose">
    <img src="../../assets/game/jara/jarapop.png" class="jarabase" alt="">
    <div class="jaraElems">
      <div class="jaraBar">
        <div class="jaraProg" [ngStyle]="{'width': jaraPercent }"></div>
      </div>
      <br>
      <img *ngIf="jaraKomkom > jaraFull" class="takeam" (click)="takeAm()" src="../../assets/game/jara/takeam.png"
        alt="">
    </div>
    <img *ngIf="jaraKomkom > jaraFull" src="../../assets/game/jara/progressgift.png" class="progressCowries2" alt="">
    <img *ngIf="jaraKomkom <= jaraFull" src="../../assets/game/jara/progressgift.png" class="progressCowries" alt="">
  </div>
</div>

<div class="begibegiPane">
  <img (click)="closeBegibegi()" src="../../assets/close.png" alt="" class="begibegiClose">

  <div class="begibegiTray">

    <p style="color: white; text-align: center; font-family: 'VagFont', Fallback, sans-serif; "><small>select a blank
        hole to reveal</small></p>

    <div class="wordRack animate__repeat-1" *ngFor="let w of multiArray; let in = index"
      [ngClass]="(rowToBounce==in) ? 'animate__animated' : 'nada'">

      <div (click)="selectBegibegiHole(l,i,in)" class="hole animate__repeat-1"
        [ngStyle]="{'background-image': i==0 && w.length > 1 ? 'url(../../assets/game/new/left.png)' : i == w.length-1 && w.length > 1 ? 'url(../../assets/game/new/right.png)' : 'url(../../assets/game/new/middle.png)' }"
        *ngFor="let l of w; let i = index">
        <span [ngStyle]="{'opacity': l.visible ? 1 : l.hint ? 0.4 : 0 }">{{l.letter}}</span>
      </div>

    </div>

  </div>

</div>

<div class="videoPane">
  <!-- <img (click)="closeVideo()" src="../../assets/close.png" alt="" class="videoClose"> -->
  <video id="video">
    <source id="vidSrc" src="https://ayamsabinus.com/sabinus-api/ads/ad.mp4" type="video/mp4">
    Your device does not support this video.
  </video>
  <div class="videoTime">
    <span id="vtime"></span>
  </div>
  <div class="skip" (click)="skip()">
    Skip Ad
  </div>
</div>

<div class="adbar">
  <img src="../../assets/game/gtb2.jpg" alt="">
</div>

<!-- toast -->
<div class="toast">
  <p>{{toastMessage}}</p>
</div>
