<div class="arena">
  <a (click)="back()" class="backParent">
    <img src="../../assets/awoof/back.png" alt="" class="back">
  </a>
  <div class="awoofBox">
    <div class="clickOverlay">
      <div class="click1" (click)="buy('smallie')"></div>
      <div class="click2" (click)="buy('oga')"></div>
      <div class="click3" (click)="buy('presido')"></div>
      <div class="click4" (click)="buy('chairman')"></div>
      <div class="click5" (click)="buy('jagaban')"></div>
    </div>
    <img [src]="imageSrc" alt="" class="awoofBase">
  </div>

  <div class="networkPane">
    <div class="padiBox">
      <div class="padiContent">
        <img src="../../assets/padiplay/network.png" class="timeup" alt="">
    </div>
    </div>
  </div>

  <div class="toast">
    <p>{{toastMessage}}</p>
  </div>
</div>
