.hero{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url(../../assets/nativetink/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.nativelogo{
    height: 25vh;
    width: auto;
}