<ion-content [fullscreen]="true">
  <div class="main">
    <!-- toplinks -->
    <a href="#"><img src="../../assets/landingpage/profile2.png" alt="" class="profilelink"></a>
    <a href="#"><img src="../../assets/landingpage/album2.png" alt="" class="album"></a>
    <a href="#"><img src="../../assets/landingpage/cowriebar.png" alt="" class="topright"></a>
    <!-- top2 links -->
    <a href="#"><img src="../../assets/landingpage/dailyawoof2.png" alt="" class="dailyawoof"></a>
    <a href="#"><img src="../../assets/landingpage/awoofpacks2.png" alt="" class="awoofpacks"></a>
    <div class="mainCenter">
      <img src="../../assets/landingpage/title22.png" alt="" class="title">
      <img src="../../assets/landingpage/centerpiece.png" alt="" class="centerpiece">
      <a [routerLink]="['/gamearena']"><img src="../../assets/landingpage/playbtn2.png" class="playbtn" alt=""></a>
    </div>
    <!-- bottom links -->
    <a href="#"><img src="../../assets/landingpage/video.png" alt="" class="tv"></a>
    <a href="#" class="settingslink"><img src="../../assets/landingpage/settings2.png" alt="" class="settings"></a>
    <a href="#"><img src="../../assets/landingpage/padiplay2.png" alt="" class="padiplay"></a>
  </div>
</ion-content>
